<#--

        This file is part of the Squashtest platform.
        Copyright (C) 2011 - 2020 Henix

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses />.

-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Gherkin Tests execution report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../../public/stylesheets/knacss.css" media="all" />
    <link rel="icon" type="image/png" href="../../../public/images/logo_squash_favicone.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../public/images/logo_squash_favicone.ico" />
    <script type="text/javascript" src="../../../public/javascripts/dropdown.js" ></script>
</head>

<body class="ml2 mr2 mt1">

    <div id="header" class="row">
        <div class="col w20">
            <img class="left" src="../../../public/images/logo_squash.png" alt="Logo Squash" />
        </div>
        <div class="col-mid txtcenter">
            <h1>Gherkin Test DryRun Failure Details</h1>
        </div>
    </div>
    
    <div id="content">
        <div id="summary"> 
                
            <div class="info">
                <span>Execution date:&nbsp;</span>${timeNow}
                <br/>
                <span>Uri:&nbsp;</span>${uri}
                <br/>
            </div>
        
            <table class="w110 striped">
                <thead>
                    <tr class="table-header">
                        <th>Messages</th>
                    </tr>
                </thead>
                
                <tbody>
                    <td>
                        <#list messages as message>
                           -->&gt; ${message} <br/> <br/>
                        </#list>    
                    </td>
                </tbody>                    
            </table>
  
        </div> <#-- END DIV SUMMARY -->                
    </div> <#-- END DIV CONTENT -->
    
    <div class="footer txtcenter">
        <p>Generated by Squash TF&copy; on ${timeNow}</p>
    </div>
    
</body>
</html>





